<ion-view title="Welcome" id="page1" style="background-color:#77CAC4;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div class="">
            <img src="img/TVcDsxlSTy14vgVDJZ2G_logo.JPG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/LHW6aQXlScKrkOMkYZ1o_hpbikes.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a href="#/page2" id="welcome-button4" style="color:#FFFFFF;" class=" button button-positive  button-block ">Rent a Bike!</a>
        <button href="page2" id="welcome-button5" class=" button button-positive  button-block ">Return a Bike!</button>
    </ion-content>
</ion-view>